* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #f4f4f4;
    font-family: 'Poppins', verdana;
    min-height: 100vh;
    max-width: 100%;
}

.text {
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
}

.text .text_first-heading {
    font-size: 2.1rem;
    font-weight: 250;
}

.text h1 {
    font-size: 2rem;
}

.text p {
    padding: 10px;
    color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-block: 0rem 3rem;
    gap: 2rem;
}

.box {
    border-radius: 10px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    width: calc(28% - 2rem);
    aspect-ratio: 1 / 0.75;
}

.box:first-child, .box:last-child {
    position: absolute;
    margin: 0;
}

.box:first-child {
    border-block-start-color: hsl(180, 62%, 55%);
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.box:last-child {
    border-block-start-color: hsl(212, 86%, 64%);
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}

.container-1 {
    border-top: 4px solid hsl(180, 62%, 55%);
}    
    

.container-2 {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.container-3 {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.container-4 {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.box img {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

@media screen and (min-aspect-ratio: 1 / 1) and (max-width: 1024px){
    .card img {
        max-width: 2rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-aspect-ratio: 1 / 1) {
    body {
        flex-direction: column;
    }

        .header h1, .header div {
            font-size: 1.5rem;
        }

        .header h1 {
            margin-block-start: 0.5rem;
        }

        .header p {
            width: 100%;
        }

        .box {
            width: 80%;
        }
        .box:first-child, .box:last-child {
            position: relative;
            transform: none;
            left: 0; /* Reset left position for mobile */
            right: 0; /* Reset right position for mobile */
            margin-block-end: 2rem;
        }
    
    footer {
        position: static;
    }

    @media screen and (max-width: 280px) {
        .box img {
            max-width: 2rem;
        }
    }
}